@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:rgb(221, 123, 4) ;
}
header {
    background-image: linear-gradient(to bottom, orange , rgb(243, 141, 32));
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 35px;
    
}
article {
    background-color: orangered;
    
    border-radius: 5px;
    margin: 50px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
article > div {
    height: 34vh;
    width: 34vh;
    border-radius: 10px;
    background-color: white;
    flex-shrink: 1;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
div > a{ 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    text-decoration: none;
    color: rgba(167, 7, 220, 0.466);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    background-color: rgb(252, 254, 253);
}

div#amarelo:hover{
    background-color: yellow;
}
div#verde:hover{
    background-color: green;
}
div#vermelho:hover{
    background-color: red;
}
div#azul:hover{
    background-color: blue;
}
div#original:hover{
    background-color: rgba(172, 170, 170, 0.479);
}
div#preto:hover{
    background-color: black;
}

footer > p{
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    text-align: center;
}
footer > p{
    color: white;
}
footer > p > a {
    text-decoration: underline;
    color: rgb(246, 244, 244);
}
