@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------
Pequenas telas: até 600px
Celular: de 600px 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/


/* Tablet: 768px até 992px */
@media screen and (min-width: 768px) and (max-width: 992px){
    article {
    height: 500px;
    }
}

/* Desktop: 992px até 1200px */ 

@media screen and (min-width: 992px) and (max-width: 1200px){
    article {
    height: 550px;
    }
}

/* Grandes telas: acima de 1200px */

@media screen and (min-width: 1200px) {
    article {
    height: 400px;
    }
}